.content-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nb-error {
  color: #ff6060;
  text-align: center;
  font-family: Montserrat;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
  margin-top: 139px;
}

.txt-error {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 139px;
  text-align: center;
}

.link-back {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: 139px;
  cursor: pointer;
}

@media (max-width: 415px) {
  .nb-error {
    font-size: 123px;
  }

  .txt-error {
    font-size: 26px;
  }
}
