.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header-nav-link {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration: none;
}

.header-nav-link:hover {
  color: #ff6060;
  text-decoration-line: underline;
  cursor: pointer;
}

.link-nav {
  display: flex;
  gap: 60px;
}

@media (max-width: 400px) {
  .header-nav-link {
    font-size: 12px;
  }

  .logo-nav {
    width: 145px;
  }
  .link-nav {
    display: flex;
    gap: 35px;
  }
}
