.main-coll {
  display: flex;
  flex-direction: column;
}

.coll {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  align-items: center;
  background-color: #ff6060;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
}

.content-coll {
  background-color: rgb(237, 237, 237);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  border-radius: 5px 5px 10px 10px;
  height: 200px;
}

.txt-coll {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5;
}

.content-coll.active {
  max-height: 180px;
}

.collapse-btn {
  font-size: 30px;
  cursor: pointer;
}

.rotate {
  transition: transform 0.3s ease-in-out;
}

.rotate.rotate-down {
  transform: rotate(-180deg);
}

@media (max-width: 415px) {
  .coll {
    height: 30px;
  }
}
