.footer {
  background-color: black;
  display: flex;
  padding-top: 66px;
  padding-bottom: 29px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 28.556px;
  margin-top: 50px;
}

.footer-p {
  color: white;
  font-size: 24px;
}

@media (max-width: 415px) {
  .footer-p {
    font-size: 12px;
    width: 133px;
    text-align: center;
  }
  .footer {
    margin-top: 0;
  }
}
